* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1C325B;
    color: white;
    text-align: center;
    padding: 1rem 0;
    height: 80px;
}

header h1 {
    font-size: 2rem;
}

.container1 {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 20%;
    background-color: #608BC1;
    padding: 1rem;
    height: 100;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 1rem 0;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: rgba(203, 220, 235, 0.3);

}

main {
    flex: 1;
    padding: 2rem;
    background-color: #f4f4f4;
}

main h1 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 1rem;
}

main p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

footer {
    background-color: #1C325B;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}


@media only screen and (max-width: 500px) {
    header {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .container1 {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 0.5rem;
        text-align: center;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .sidebar a {
        font-size: 1rem;
        padding: 0.5rem;
        transition: background-color 0.3s ease;
        width: 100%;
    }
    .sidebar a:hover {
        background-color: rgba(203, 220, 235, 0.3);
    
    }

    main {
        padding: 1rem;
    }

    main h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    main p {
        font-size: 0.9rem;
        text-align: justify;
    }

    footer {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}
